*.o
*.obj

*.spv

*.a
*.lib

*.so
*.so.*
*.dll
*.dylib

*.out
*.exe
*.app

*.def
*.exp

*.dSYM

*.depfile

*.tmp
*.log

*.plist

*.gcda
*.gcno
*.profraw

vgcore.*

docs/*
out/*
tmp/*


filename
test.c

.vscode
.vs

*.DS_STORE

CMakeFiles
build