[submodule "deps/bgfx-git"]
	path = deps/bgfx-git
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "src/vendor/astar"]
	path = src/vendor/astar
	url = https://github.com/justinhj/astar-algorithm-cpp
